<span class="title-text">
    {{#if hasBlock}}
        {{yield}}
    {{else}}
        {{label}}
    {{/if}}
</span>
{{#if showDismiss}}
    <button class="icon" {{action "dismiss"}}>
        <i class="ion-close-round"></i>
    </button>
{{/if}}