.flyout-panel {
  display: flex;
  flex-direction: column;

  &.button-on-right {
    .panel-label {
      justify-content: flex-end;
      .label { order: 1; }
      .icon { order: 2; }
    }
  }
  &.button-on-left {
    .panel-label {
      justify-content: flex-start;
      .icon { order: 1; }
      .label { order: 2; }
    }
  }

  &.title-on-top {
    .panel-label { order: 1; }
    .content { order: 2; }
  }
  &.title-on-bottom {
    .content { order: 1; }
    .panel-label { order: 2; }
  }

  .panel-label {
    border: 0;
    padding: 0;
    width: 100%;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      font-size: 24px;
      background-color: #8a8a8a;
    }
    &:hover .icon {
      background-color: #b2b2b2;
      color: #ffffff;
    }
    &:active .icon {
      color: #666666;
    }

    .label {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
