<div class="content">
    {{#if expanded}}
        {{yield}}
    {{/if}}
</div>

<button class="panel-label modal-banner" {{action "toggleExpanded"}}>
    <div class="icon">
        <span class="{{if expanded 'ion-android-contract' 'ion-android-expand'}}"></span>
    </div>
    <div class="label">{{title}}</div>
</button>
