{{#if expanded}}
    {{yield}}
{{/if}}

<button class="panel-label" {{action "toggleExpanded"}}>
    <div class="icon">
        <span class="{{if expanded 'ion-arrow-shrink' 'ion-arrow-expand'}}"></span>
    </div>
    <div class="label">{{title}}</div>
</button>
