{{#if debug.showVisualDebugInfo}}
    <span class="coordinate x">{{hex.coord.x}}</span>
    <span class="coordinate y">{{hex.coord.y}}</span>
    <span class="coordinate z">{{hex.coord.z}}</span>
{{/if}}

{{#if hasResource}}
    <span class="resource"></span>
{{/if}}
