.setup-game-component {
  width: 300px;

  .player-input {
    display: flex;

    input {
      margin-left: auto;
    }
  }

  .submit-button {
    display: flex;
    button {
      width: 100px;
      margin-left: auto;
    }
  }
}
