<h3>setup-game-component</h3>

<div>
    <label for="playerCount">Number of players</label>
    <select id="playerCount" {{action 'change' on='change'}}>
        {{#each playerCounts key="@index" as |value|}}
            <option value="{{value}}" selected={{eq value selectedPlayerCount}}>
                {{value}}
            </option>
        {{/each}}
    </select>
</div>
