<h3>setup-game-component</h3>

{{dynamic-select
    description="Number of players"
    contents=playerCountOptions
    selected=playerCount
    action=(action (mut playerCount))}}

{{dynamic-select
    description="Board Size"
    contents=boardSizeOptions
    selected=boardSize
    action=(action (mut boardSize))}}
