<div class="card-internal">
    <div class="header">{{name}}</div>
    <img src="{{art}}" class="art" />
    <div class="rules">
        {{#each displayText as |line|}}
            <div class="line">{{line}}</div>
        {{/each}}
    </div>
</div>