<div class="card-internal">
    <div class="header">{{name}}</div>
    <img src="{{art}}" class="art" />
    <div class="rules">
        <p>Do a thing.</p>
        <p>Do another thing.</p>
    </div>
</div>