<div class="modal-wrapper">
    <div class="content">
        {{#if isGameStart}}
            <h3>Beginning of Game</h3>
            <button {{action "startGame"}}>Start Game</button>
        {{/if}}
    </div>
</div>