{{#if expanded}}

{{/if}}

<div class="panel-label" {{action "togglePanelState"}}>
    <button class="icon">
        <span class="{{if expanded 'ion-arrow-shrink' 'ion-arrow-expand'}}"></span>
    </button>
    <span class="label">Player section</span>
</div>
