{{#flyout-panel title="Player section" position="bottom-left"}}
    <div class="card-row">
        {{#each hand as |card|}}
            {{interactive-card card=card}}
        {{/each}}
    </div>
{{/flyout-panel}}