{{#flyout-panel title="Player section" position="bottom-left"}}
    {{player-section.resource-display game=game}}
    <div class="hand card-row">
        {{#each hand as |card index|}}
            <div class="card-slot {{index}}">
                {{interactive-card card=card}}
                <button class="select-card" {{action "playCard" card}}>Play</button>
            </div>
        {{/each}}
    </div>
{{/flyout-panel}}

{{#if showDialogPrompt}}
    {{#modal-dialog cancelDialog=(action cancelDialog)}}
        <div>HI</div>
    {{/modal-dialog}}
{{/if}}