<div class="row">
    Available Resources
</div>
<div class="row">
    Mana:
    <span class="resource-badge">{{mana}}</span>
</div>
<div class="row">
    Action Points:
    <span class="resource-badge">{{actions}}</span>
</div>