.hex-board {
  padding-bottom: 50px;

  .row {
    display: flex;

    &:nth-child(odd) {
      margin-left: 53px;
    }
  }

  &.zoom-0 { zoom: 1.5; }
  &.zoom-1 { zoom: 1.2; }
  &.zoom-2 { zoom: 1.0; }
  &.zoom-3 { zoom: 0.8; }
  &.zoom-4 { zoom: 0.6; }
  &.zoom-5 { zoom: 0.5; }
  &.zoom-6 { zoom: 0.4; }
}
