& {
  padding: 10px 10px 35px 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #666;

  overflow: scroll;

  //transform: perspective(600px) rotateX(60deg); /* TODO: play with this */
}

.row {
  display: flex;

  &:nth-child(odd) {
    margin-left: 53px;
  }
}
