{{hex-board.zoom-control
    zoomIn=(action 'zoomIn')
    zoomOut=(action 'zoomOut')}}


<div class="rows {{zoomClass}}">
    {{#each game.board as |row|}}

        <div class="row">
            {{#each row as |hex|}}
                {{hex-board.hex-tile hex=hex game=game}}
            {{/each}}
        </div>

    {{/each}}
</div>
