.card-market {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;

  .panel-label {
    font-size: 16px;
    padding: 10px 15px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      cursor: pointer;
      color: #fff;
      background-color: #b2b2b2;
      border: 0;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      font-size: 12px;
      padding: 0;

      &:focus {
        outline: none;
      }
      &:hover {
        background-color: #8a8a8a;
      }

      span {

      }
    }

    .label {
      padding-left: 10px;
    }
  }
}
