{{#flyout-panel title="Card market" position="top-right"}}
    <div class="card-row">
        {{#each cards as |card|}}
            {{interactive-card card=card}}
        {{/each}}
    </div>
{{/flyout-panel}}