{{#if expanded}}
    <div class="card-row">
        {{#each cards as |card|}}
            {{interactive-card card=card}}
        {{/each}}
    </div>
{{/if}}

<div class="panel-label">
    <button class="icon" {{action "togglePanelState"}}>
        <span class="{{if expanded 'ion-arrow-shrink' 'ion-arrow-expand'}}"></span>
    </button>
    <span class="label">Card market</span>
</div>