{{#if expanded}}
    {{#each cards as |card|}}
        {{interactive-card card=card}}
    {{/each}}
{{/if}}

<div class="panel-label">
    <button class="icon">
        <span class="{{if expanded 'ion-arrow-shrink' 'ion-arrow-expand'}}"
            {{action "togglePanelState"}}>
        </span>
    </button>
    <span class="label">Card market</span>
</div>